/* Product Overview Section */
#product-overview {
    background: url("freedom.jpg");
    width: 100%;
    height: 528px;
    padding: 10px;   
}

/* Plans Section */
.section-title {
    color: #2ddf5c;
}

#product-overview h1 {
    color: white;
    font-family: 'Anton', sans-serif;
}

.section-title{
    text-align: center;
}

.plans-container{
    text-align: center;
    margin-bottom: 10px;
}

.plan-title{
    color: #03300f;
}

.plan-title__recommended{
    background-color: white;
    color: #076e23;
    padding: 5px 5px; 
}

.plan-title__recommended, .plan-content__recommended{
    box-shadow: 2px 2px 2px 2px rgb(0, 0, 0, 0.5);
    border-top: 0;
    border-left: 0;
    border-style: solid;
    border-radius: 4px;
}

.plan-content, .plan-content__recommended{
    display: inline-block;
    padding: 10px; 
    margin: 10px;  
    width: 30%; 
    vertical-align: middle;
}

.plan-content {
    background-color: #a2e9b5;
}

.plan-content__recommended {
    background-color: #076e23; 
    color: white;   
}

.plan-price{
    color: rgb(94, 91, 91);
}

.plan-price__recommended{
    color: rgb(31, 30, 30);
}

.plan-details{
    list-style: none;
    padding-left: 0;
}

.plan-details__content{
    padding: 3px 3px;
    text-align: center;
}

.plan-choose-btn{
    background-color: #03300f;
    color: white;
    font-family: 'Montserrat', sans-serif;
    border-radius: 4px;
    padding: 5px 5px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.plan-choose-btn:hover, .plan-choose-btn:active{
    background-color: white;
    color: #076e23;;
}

/* KEY FEATURES SECTION */
#key-features{
    background-color: #dd3636;
    color: white;
    text-align: center;
    margin-bottom: 40px;
}

.key-features-title{
    padding-top: 20px;
}

.key-features-details{
    list-style: none;
}

.key-features-detail__content{
    display: inline-block;
    width: 25%;
    margin: 30px;
    font-weight: bold;
    font-size: 20px;
    vertical-align: top;
}

.key-features-detail__img{
    margin: auto;
    width: 128px;
    height: 128px;
    border: solid black 2px;;
    border-radius: 50%;
    background-color: pink;
}