#assignment-instructions{
    color: green;
    font-family: sans-serif;
}

.highlighted-code > code {
    color: pink;
}


body{
    font-family: Arial, Helvetica, sans-serif;
}

li{
    font-family: inherit;
}

code{
    font-family: monospace;
    color: red;
}

li + li{
    background-color: black;
    color: white;
}

ol > li{
    background-color: black;
    color: white;
}