* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

#product-overview {
  background: #ff1b68;
  width: 100%;
  height: 528px;
  padding: 10px;
  border: 5px solid black;
  /* margin: 10px; */
}

.section-title {
  color: #2ddf5c;
}

#product-overview h1 {
  color: white;
  font-family: "Anton", sans-serif;
}

.main-header {
  background-color: #2ddf5c;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.main-header > div a {
  background-color: #2ddf5c;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-decoration: none;
  color: white;
  padding: 10px;
  text-decoration: none;
}

.main-header > nav > ul {
  padding-left: 0%;
}

.main-header > nav li {
  display: inline-block;
  height: 28px;
}

.main-header > nav a {
  color: white;
  padding: 10px;
  text-decoration: none;
}
