.requested-box{
    padding-top: 10px;
    padding-right:  8px;
    padding-bottom: 6px;
    padding-left: 12px;
    margin-top: 10px;
    margin-right: 8px;
    margin-bottom: 6px;
    margin-left: 15px;
    border: 8px solid firebrick;
    height: 300px;
    width: 45%;
}

div{
    display: inline-block;
}

/* div:first-of-type{
    display: none;
    /* visibility: hidden; */
/* } */ 

div:last-of-type:hover{
    background-color: pink;
}